<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-heading">
      <h2 class="text-center">Aşağıdaki sosyal ağlardan giriş yapabilirsiniz.</h2>
    </div>
    <hr />
    <div class="modal-body">

      <div class="form-group text-center">
        <img class="social-logo cursor"
          src="https://cdn3.iconfinder.com/data/icons/capsocial-round/500/facebook-512.png"
          (click)="signIn('facebook')" />

        <img class="social-logo cursor"
          src="https://image.similarpng.com/very-thumbnail/2020/06/Logo-google-icon-PNG.png" (click)="signIn('google')">

      </div>

    </div>
  </div>
</div>